<!-- //py for padding in y axis bootstrap property -->
<footer class="footer bg-dark py-3 mt-auto">  
    <div class="container">
        <span class="text-muted"> &copy; Yelpcamp 2021</span>
    </div>

</footer>



