<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">ERROR.........!!!</h4>
            <h5><%= err.message %> </h5>
            <% if(process.env.NODE_ENV !== "production"){ %> 
            <p><%= err.stack%></p>
            <% } %> 
            <hr>
            <p class="mb-0">!..Please try again..!</p>
          </div>
    </div>
</div>
