<% layout('layouts/boilerplate') %> 
    <h1>Edit campground</h1>

    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %> ">
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
    
