<% layout('layouts/boilerplate') %> 
    <h1>All Campgrounds</h1>
    <div><a href="/campgrounds/new">Add campgound</a></div>
    <ul>
        <% for(let campground of campgrounds) {%>
            <li><a href="/campgrounds/<%=campground._id%>"><%= campground.title %></a></li>
            <% } %>  
    </ul>
