<% layout('layouts/boilerplate') %> 
    
<!-- //offset can be used as one way of centering things -->
<div class="row">
    <h1 class="text-center">New campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control" id="image" name="campground[image]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" id="price" class="form-control" name="campground[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label">
                  </div>
            </div>
           
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" name="campground[description]"></textarea>
            </div>
            <div class="mb-3"> 
                <button type="submit" class="btn btn-success">Submit</button>
            </div> 
        </form>
        <a href="/campgrounds">All campgounds</a>
    </div>
</div>

