<% layout('layouts/boilerplate') %> 
    <h1><%= campground.title%> </h1>
    <h2><%= campground.location%> </h2>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
    <button type="submit">delete</button></form>
    <a href="/campgrounds">All campgrounds</a>
