<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/log.css">
<div class="container d-flex justify-content-center align-items-center mt-3 mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/igoswamik/image/upload/v1617714180/YelpCamp/h6y2qgypfhpn2tnfzjx1.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            <div class="valid-feedback">looks good!</div>
                            <div class="invalid-feedback">Please select a valid state.</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="valid-feedback">looks good!</div>
                            <div class="invalid-feedback">Please select a valid state.</div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>